<div class="container-fluid p-0 m-0">
    <section class="jumbotron">
        <h1 class=" display-4 vh-center text-uppercase text-white fw-bold">
            TODOs
        </h1>
    </section>
<app-todocontrols (addnewrecord) = "addnewrecord($event)"></app-todocontrols>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-6 col-lg-3 col-sm-12 mt-2" *ngFor="let i of todos; let idx = index;">
            <app-todocard (addRecordtopending) = "addRecordtopending($event)" (deleteRecord) = "deleteRecord($event)" [pk]="i.pk" [title]="i.title" [description]="i.description" [status]="i.status" [created_at]="i.created_at" ></app-todocard>
        </div>
        
        <div class="col-12" *ngIf="!todos">
            <div class="container">
                <h2 class="lead text-center">Add Tasks</h2>
            </div>
        </div>
    </div>
</div>

</div>