<div class="container">
    <div class="add-todo-box card">
            <div class="card-body">
                <h5 class="card-title text-center">
                    <span class="lead">New Todo</span>
                </h5>
                <form class="py-2">
                    <div class="form-group p-2 ">
                        <input #todo type="text" id="task" class="form-control border-radius-0" placeholder="Type your task here" required>
                        <small class="text-danger">{{todoerr}}</small>
                    </div>
                    <div class="form-group p-2">
                    <textarea #descrition class="form-control" placeholder="Description"></textarea>
                    <small class="text-danger">{{description}}</small>
                    
                    </div>

                    <button (click)="submitTodo({title:todo.value, description:descrition.value})" type="button" class="btn btn-sm float-end btn-success border-radius-0 d-flex aign-items-center justify-content-around">   <i class="fa fa-plus mx-2 mt-1"></i> Add</button>
                </form>
            </div>
    </div>
</div>